@font-face {
  font-family: "CustomFont";
  src: url("./resources/Aller_Bd.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 1080px;
  font-family: "CustomFont";
  color: white;
}

#wrapper {
  height: inherit;
  opacity: 0.8;
}
#leaderboard {
  position: absolute;
  top: 450px;
  left: 0;
  height: 492px;
  width: 192px;
  /* border: 3px solid #222; */
  opacity: 0;
  transition: 150ms;
  display: flex;
  flex-direction: column;
}
.lbPlayer.ourPlayer {
  background-color: #4a4a4a !important;
  opacity: 1 !important;
  display: block !important;
}
.lbPlayer {
  position: relative;
  display: block;
  margin: 0 0 7px 0;
  background-color: #0e2d41 !important;
  border: 1px solid black;
  width: 192px;
  height: 74px;
  opacity: 1;
  /* -webkit-transition: all 2s;
  -moz-transition: all 2s;
       transition: all 2s; */
}
.shown {
  display: initial;
}
.notShown {
  display: none;
}
.dimmed {
  opacity: 0.5;
}
.lbPlayer > * {
  text-shadow: #000 1px 1px 1px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
}
.lbPlayer > .lbPlayerName {
  z-index: 4;
  color: white;
  font-size: 26px;
  top: 0;
  left: 0;
  text-align: left;
  margin: 2px 0 0 4px;
}
.lbPlayer > .lbPlayerPosition {
  z-index: 1;
  color: white;
  opacity: 0.3;
  font-size: 44px;
  top: 0px;
  right: 7px;
  text-align: right;
}
.lbPlayer > .lbPlayerScore {
  z-index: 2;
  color: white;
  font-size: 18px;
  bottom: 0;
  left: 0;
  text-align: left;
  margin: 0 0 2px 4px;
}
.lbPlayer > .lbPlayerCombo {
  z-index: 3;
  color: #39bfce;
  font-size: 18px;
  right: 0;
  bottom: 0;
  text-align: right;
  margin: 0 4px 2px 0;
}

/* #score {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 80px;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#combo {
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: 80px;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  display: flex;
} */
